@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&family=Vidaloka&display=swap');
body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-img {
  object-fit: cover !important;
}

@keyframes rotateCard {
  0 {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.nav-link {
  cursor: default;
}

.font-vida {
  font-family: 'Vidaloka', serif;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-it {
  font-style: italic;
}

.font-700 {
  font-weight: 700;
}

.shadow {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.5) !important;
}

/* background colours */

.bg-primary {
  background-color: #492e46 !important;
}

.bg-secondary {
  background-color: #efefef !important;
}

/* text colour */

.text-secondary {
  color: #D8DBC6 !important;
}

/* button colours */

.btn-primary {
  background-color: #492e46 !important;
  border: none;
}

.btn-secondary {
  background-color: #B9B0C3 !important;
  border: none;
}

.btn-info {
  background-color: #839B81 !important;
  border: none;
}